.vuepress-plugin-demo-block__display
  max-height: none !important
  .vuepress-plugin-demo-block__app
    overflow:hidden
.vuepress-plugin-demo-block__footer    
  .vuepress-plugin-demo-block__jsfiddle,
  .vuepress-plugin-demo-block__codepen
    display: none


table 
  width: 100%;
  border: none;
  thead,
  tbody 
    border: none;
    width: 100%;
    tr
      border: none
      border-bottom: 1px solid #dcdfe6;
      th,
      td 
        border: none;
        color: #909399;
        font-weight: normal;
        text-align: left;
        font-size: 14px;
        padding: 15px
        min-width:70px
  tbody
   td 
    color: #606266;
  
h2
  border-color:#3eaf7c
  border-width:2px